{
  "presets": [
    "es2015-ie",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-runtime",
    "jsx-control-statements",
    ["import", [
      { "libraryName": "antd", "libraryDirectory": "es","style":true}
    ]]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    },
    "production":{
      "plugins": ["transform-remove-console"]
    }
  }
}